body {
background-image: url("grenn.png");
  background-color: #210321;
  color:#210321;
  font-family:"Belle","Comic Sans MS", cursive;
  font-size:25px;
  line-height:27px;}


h1 {
  text-align: center;
  margin-top: 50px;
  margin-left: -75px;
  letter-spacing: 3px;
  font-size: 20px;
  font-family: consolas;
  color: #2eff29;
}
.glow {
        font-size: 30px;
        color: white;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
                       0 0 50px #2eff29, 0 0 60px #2eff29, 0 0 70px #2eff29;
        }
      }

  body
      {
        margin: 0;
        padding: 0;
        font-family: consolas;
        box-sizing: border-box;
        vertical-align: top;
      }
      a
      {
        position: relative;
        display: inline-block;
        padding: 25px 30px;
        margin: 40px 70px;
        color: #2eff29;
        font-size: 22px;
        text-decoration: none;
        text-transform: lowercase;
        overflow: hidden;
        transition: 0.2s;
        letter-spacing: 4px;
      }
      a:hover
      {
        color: #210321;
        background: #2eff29;
        box-shadow: 0 0 10px #2eff29, 0 0 40px #2eff29, 0 0 80px
        #2eff29;
      }
      .center {
        margin: 0;
        position: absolute;
        top: 28%;
        left: 20%;
        right: 30%;
        transform: translate(7%, -10%);
      }
      .wrap {
        height:100%;
        overflow: hidden;
      }
